In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset=pd.read_csv('diabetes.csv')

In [ ]:
dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
dataset=dataset.drop(['Insulin'],axis=1).drop(['SkinThickness'],axis=1).drop(['Pregnancies'],axis=1)
dataset.head()

   Glucose  BloodPressure   BMI  DiabetesPedigreeFunction  Age  Outcome
0      148             72  33.6                     0.627   50        1
1       85             66  26.6                     0.351   31        0
2      183             64  23.3                     0.672   32        1
3       89             66  28.1                     0.167   21        0
4      137             40  43.1                     2.288   33        1

In [ ]:
"""dataset['temp']=dataset['EffectiveGlucose']
dataset['EffectiveGlucose']=dataset['Outcome']
dataset['Outcome']=dataset['temp']
dataset=dataset.drop(['temp'],axis=1)
col_list=list(dataset)
col_list[4],col_list[5]=col_list[5],col_list[4]
dataset.columns=col_list
dataset.head()"""

"dataset['temp']=dataset['EffectiveGlucose']\ndataset['EffectiveGlucose']=dataset['Outcome']\ndataset['Outcome']=dataset['temp']\ndataset=dataset.drop(['temp'],axis=1)\ncol_list=list(dataset)\ncol_list[4],col_list[5]=col_list[5],col_list[4]\ndataset.columns=col_list\ndataset.head()"

In [ ]:
X = dataset.iloc[:, :-1].values
y=dataset.iloc[:,5].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
max=0
max_estimators=0
for i in range(1,100):
  classifier = RandomForestClassifier(n_estimators = i)
  classifier.fit(X_train, y_train)
  y_pred = classifier.predict(X_test)
  from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
  result = confusion_matrix(y_test, y_pred)
  #print("Confusion Matrix:")
  #print(result)
  result1 = classification_report(y_test, y_pred)
  #print("Classification Report:",)
  #print (result1)
  result2 = accuracy_score(y_test,y_pred)
  #print("Accuracy:",result2)
  if(result2>max):
    max=result2
    max_estimators=i
print(max)
print(max_estimators)

0.7835497835497836
79